# Node modules
**/node_modules/

# Environment files
**/.env
**/.env.*

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Uploads
uploads/

# Documentation
docs/

# Files
files/

# Postman
Postman/

# Tests
tests/

# Sample data
sample_event_data.json